#headLine{
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 28px;
    letter-spacing: 1.4px;
    word-spacing: 3.4px;
    color: #000000;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: small-caps;
    text-transform: none;
    text-align: center;
    }

    #copyright {
        font-size: 0.8em;
    }

    #logo {
        width: 40%;
      }